<div class="nav-bg">
	<label for="<%= id %>"><%= caption %></label>
	<%= color_field_tag id, color, oninput: "backgroundColor(this, '#{target}')", title: 'Background Color', autocomplete: :off %>
</div>